:root {
    /* dark mode colors */
    --color-dark-purple: rgb(62, 53, 130);
    --color-lightpink-white: #F9DEFF;
    --color-hot-pink: rgb(255, 100, 203);
    --color-light-tan: rgb(245, 224, 197);
    --color-light-black: rgb(26, 24, 24);


    /* converting colors to default background colors */
    --color-background-main: var(--color-dark-purple);
    --color-background-secondary: white;



    --color-header-background: var(--color-light-black);
    --color-header-a-active: var(--color-hot-pink);
    

    --font-size-large: 3rem;
    --font-size-regular: 2.5rem;
    --font-size-small: 1.5rem;
    --font-size-body: 1rem;
    --font-size-xsmall: 0.5rem;

    --font-family-headers: "Bebas Neue", Cambria, 
        "Noto Serif", "Bitstream Charter",serif;
    --font-family-body: 'Red Hat Display', 'Lucida Sans Unicode', 
        'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    body.dark-mode {
        --color-light-black: var(--color-lightpink-white);
        --color-background-page: var(--color-lightpink-white);
        --color-dark-purple: var(var(--color-lightpink-white))
        /* --color-text: rgb(33, 33, 20);
        
        --color-background-card: black;
        --color-accent: var(--color-accent-inverted);
        --color-text-control: rgb(51 51 51);
        --color-text-control-inverted: var(--color-background-page); */
    }
}